 /* inter font styling */

 .inter-classic {
     font-family: "Inter", serif;
     font-optical-sizing: auto;
     font-weight: 100;
     font-style: normal;
 }

 /* ACTUAL webpage styling */

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 html,
 body {
     background-color: white;
     overscroll-behavior: none;
 }

 /* header */
 .header {
     width: auto;
     height: auto;
 }

 .top-nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 20px;
     background-color: #FFB935;
     padding: auto;
 }

 .left-link,
 .right-link {
     font-family: 'Quentin Blake';
     font-size: 2em;
     text-decoration: none;
     color: rgb(0, 0, 0);
 }

 .left-link:hover,
 .right-link:hover {
     text-decoration: underline;
 }

 /* Wrapper for textbox and menu */
 .content-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
     align-items: center;

 }

 /* Styling for the textbox */
 .textbox {
     width: 115%;
     height: 30em;
     background-color: white;
     border: 0.3em solid #FFB935;
     padding: 2em;
     margin: 4em;
     border-radius: 1em;
     font-family: "Inter", serif;
     font-size: 1.2em;
     color: black;
     overflow: auto;
 }

 .heading {
     font-size: 2em;
 }

 p {
     font-family: "Inter", serif;
     font-size: 1.2em;
     margin-top: 0.2em;
 }

 /* Adjust menu size */

 /* menu */
 .menu {
     font-family: "Inter", serif;
     font-size: larger;
     text-decoration: none;
     color: rgb(255, 255, 255);
     text-align: left;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
 }

 .menu div {
     margin: 0;
     padding-left: 1em;
     padding-top: 2em;
 }

 .menu li {
     list-style: none;
     margin-left: 1em;
 }

 .menu a {
     color: rgb(255, 255, 255);
 }

 .seed-phase,
 .experimentation-phase,
 .craft-phase,
 .completion-phase {
     width: 20em;
     height: 8.74em;
     border-radius: 1em;
     color: white;
     margin-top: 1em;
     font-size: 1.1em;
     text-align: left;
     align-items: center;
     box-sizing: border-box;
     text-decoration: none;
 }

 .seed-phase,
 .experimentation-phase,
 .craft-phase,
 .completion-phase:hover {
     text-decoration: underline;
 }

 .seed-phase {
     background-color: #DB6A58;
 }

 .experimentation-phase {
     background-color: #916073;
 }

 .craft-phase {
     background-color: #65A2CC;
 }

 .completion-phase {
     background-color: #8E9631;
 }