 /* inter font styling */

 .inter-classic {
     font-family: "Inter", serif;
     font-optical-sizing: auto;
     font-weight: 100;
     font-style: normal;
 }

 /* ACTUAL webpage styling */

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 html,
 body {
     background-color: white;
     overscroll-behavior: none;
 }

 /* header */
 .header {
     width: auto;
     height: auto;
 }

 .top-nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 20px;
     background-color: #F6BE00;
     padding: auto;
 }

 .left-link,
 .right-link {
     font-family: 'Quentin Blake';
     font-size: 2em;
     text-decoration: none;
     color: rgb(0, 0, 0);
 }

 .left-link:hover,
 .right-link:hover {
     text-decoration: underline;
 }

 /* Wrapper for textbox and menu */
 .content-container {
     display: flex;
     flex-direction: row;
     width: 100%;
     align-items: center;
     justify-content: flex-start;
     /* Align items from left to right */
     align-items: flex-start;
     /* Align elements to the top */
     gap: 2em;
     /* Add space between menu and textbox */

 }

 /* Styling for the textbox */
 .textbox {
     width: 115%;
     height: 30em;
     background-color: white;
     border: 0.3em solid #81406A;
     padding: 2em;
     margin-right: 2.3em;
     margin-bottom: 0em;
     margin-top: 4em;
     margin-left: 4em;
     border-radius: 1em;
     font-family: "Inter", serif;
     font-size: 1.2em;
     color: black;
     overflow: auto;
 }

 .heading {
     font-family: 'Quentin Blake';
     font-size: 2em;
     color: #81406A;
 }

 p {
     font-family: "Inter", serif;
     font-size: 1.3em;
     font-weight: 300;
     margin-top: 0.2em;
     color: #81406A;
     line-height: 1.3em;
 }

 /* Adjust menu size */

 /* menu */
 .menu {
     color: rgb(255, 255, 255);
     text-align: left;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .menu div {
     margin: 0;
     padding-left: 1em;
     padding-top: 1.5em;
 }

 .menu li {
     list-style: none;
     margin-left: 1em;
 }

 .menu a {
     color: rgb(255, 255, 255);
 }

 .button1,
 .button2,
 .button3,
 .button4 {
     width: 24em;
     height: 11.6em;
     border-radius: 1em;
     color: white;
     margin-top: 1em;
     font-size: 1em;
     text-align: left;
     align-items: center;
     box-sizing: border-box;
 }

 .button1 {
     background-color: #CE4E57;
 }

 .button2 {
     background-color: #81406A;
 }

 .button3 {
     background-color: #4886B0;
 }

 .button4 {
     background-color: #828931;
 }

 /* subheading specifications */
 .button1 a.sub-heading,
 .button2 a.sub-heading,
 .button3 a.sub-heading,
 .button4 a.sub-heading {
     font-family: 'Quentin Blake';
     font-size: 1.6em;
     padding-bottom: 1em;
     color: white;
     text-decoration: none;
 }

 .button1 a.sub-heading:hover,
 .button2 a.sub-heading:hover,
 .button3 a.sub-heading:hover,
 .button4 a.sub-heading:hover {
     text-decoration: underline;
 }

 .seed-phase,
 .experimentation-phase,
 .craft-phase,
 .completion-phase {
     font-family: "Inter", serif;
     font-weight: 300;
     font-size: 1.3em;
     text-decoration: none;
 }

 #awareness:hover,
 #self-doubt:hover,
 #distraction:hover,
 #listening:hover,
 #patience:hover,
 #inspiration:hover,
 #breaking-the-sameness:hover,
 #the-experimenter-and-the-finisher:hover,
 #connected-detachment-possibility:hover,
 #non-Competition:hover,
 #self-awareness:hover,
 #staying-in-it:hover {
     text-decoration: underline;
 }