 /* inter font styling */

 .inter-classic {
     font-family: "Inter", serif;
     font-optical-sizing: auto;
     font-weight: 100;
     font-style: normal;
 }

 /* ACTUAL webpage styling */

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 html,
 body {
     background-color: white;
     overscroll-behavior: none;
 }

 /* header */
 .header {
     width: auto;
     height: auto;
 }

 .top-nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 0.5em;
     padding-left: 2em;
     padding-right: 2em;
     border-bottom: 0.3em solid #FFD335;
     background-color: #FFD335;
     padding: auto;
 }

 .left-link,
 .right-link {
     font-family: 'Quentin Blake';
     font-size: 2em;
     text-decoration: none;
     color: rgb(0, 0, 0);
 }

 .left-link:hover,
 .right-link:hover {
     text-decoration: underline;
 }

 /* Wrapper for textbox and menu */
 .content-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
     align-items: center;

 }

 /* Styling for the textbox */
 .textbox {
     width: 115%;
     height: 38em;
     border: 0.3em solid #fff;
     padding: 2em;
     font-size: 1.2em;
     color: black;
     overflow: auto;
 }

 .seed-phase-textbox {
     width: 115%;
     height: 38em;
     border: 0.3em solid #fff;
     padding: 2em;
     font-size: 1.2em;
     color: black;
     overflow: auto;
     background-color: #ff5e68;
 }

 .experimentation-phase-textbox {
     width: 115%;
     height: 38em;
     border: 0.3em solid #fff;
     padding: 2em;
     font-size: 1.2em;
     color: black;
     overflow: auto;
     background-color: #A85188;
 }

 .craft-phase-textbox {
     width: 115%;
     height: 38em;
     border: 0.3em solid #fff;
     padding: 2em;
     font-size: 1.2em;
     color: black;
     overflow: auto;
     background-color: #5999C5;
 }

 .completion-phase-textbox {
     width: 115%;
     height: 38em;
     border: 0.3em solid #fff;
     padding: 2em;
     font-size: 1.2em;
     color: black;
     overflow: auto;
     background-color: #A5AE32;
 }

 .chapter {
     font-family: 'Quentin Blake', serif;
     font-size: 2em;
     color: #000;
 }

 .about {
     font-family: 'Quentin Blake', serif;
     font-size: 2em;
     color: #F6BE00;
 }

 .the-seed-phase {
     font-family: 'Quentin Blake', serif;
     font-size: 2em;
     color: #ff5e68;
 }

 .the-experimentation-phase {
     font-family: 'Quentin Blake', serif;
     font-size: 2em;
     color: #81406A;
 }

 .the-craft-phase {
     font-family: 'Quentin Blake', serif;
     font-size: 2em;
     color: #5999C5;
 }

 .the-completion-phase {
     font-family: 'Quentin Blake', serif;
     font-size: 2em;
     color: #A5AE32;
 }

 p,
 .poem,
 .subset {
     font-family: "Inter", serif;
     font-size: 1.2em;
     font-weight: 300;
     margin-top: 0.2em;
     color: #000;
     line-height: 1.3em;
 }

 .subset {
     font-weight: 600;
 }

 .poem {
     text-decoration: underline;
 }

 .about-text {
     font-family: "Inter", serif;
     font-size: 1.3em;
     font-weight: 300;
     margin-top: 0.2em;
     color: #F6BE00;
     line-height: 1.4em;
 }

 .the-seed-phase-text {
     font-family: "Inter", serif;
     font-size: 1.3em;
     font-weight: 300;
     margin-top: 0.2em;
     color: #ff5e68;
     line-height: 1.4em;
 }

 .the-experimentation-phase-text {
     font-family: "Inter", serif;
     font-size: 1.3em;
     font-weight: 300;
     margin-top: 0.2em;
     color: #81406A;
     line-height: 1.4em;
 }

 .the-craft-phase-text {
     font-family: "Inter", serif;
     font-size: 1.3em;
     font-weight: 300;
     margin-top: 0.2em;
     color: #5999C5;
     line-height: 1.4em;
 }

 .the-completion-phase-text {
     font-family: "Inter", serif;
     font-size: 1.3em;
     font-weight: 300;
     margin-top: 0.2em;
     color: #A5AE32;
     line-height: 1.4em;
 }

 /* menu subheading specifications */
 .button1 a.sub-heading,
 .button2 a.sub-heading,
 .button3 a.sub-heading,
 .button4 a.sub-heading {
     font-family: 'Quentin Blake', serif;
     font-size: 1.6em;
     font-weight: 200;
     margin-bottom: 1em;
     color: black;
     text-decoration: none;
 }

 .button1 a.sub-heading:hover,
 .button2 a.sub-heading:hover,
 .button3 a.sub-heading:hover,
 .button4 a.sub-heading:hover {
     text-decoration: underline;
 }

 .seed-phase,
 .experimentation-phase,
 .craft-phase,
 .completion-phase {
     font-family: 'Inter', serif;
     font-weight: 300;
     font-size: 1.3em;
     text-decoration: none;
 }

 #awareness:hover,
 #self-doubt:hover,
 #distraction:hover,
 #listening:hover,
 #patience:hover,
 #inspiration:hover,
 #breaking-the-sameness:hover,
 #the-experimenter-and-the-finisher:hover,
 #connected-detachment-possibility:hover,
 #non-Competition:hover,
 #self-awareness:hover,
 #staying-in-it:hover {
     text-decoration: underline;
 }

 /* Adjust menu size */

 /* menu */
 .menu {
     color: rgb(255, 255, 255);
     text-align: left;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .menu div {
     margin: 0;
     padding-left: 1em;
     padding-top: 1.5em;
 }

 .menu ul {
     margin-top: 0.5em;
 }

 .menu li {
     list-style: none;
     margin-left: 1em;
 }

 .menu a {
     color: black;
 }

 .button1,
 .button2,
 .button3,
 .button4 {
     width: 24em;
     height: 11.4em;
     margin-top: 1em;
     font-size: 1em;
     text-align: left;
     align-items: center;
     box-sizing: border-box;
     border-top: 0.3em solid white;
 }

 .button1 {
     background-color: #F0636C;
 }

 .button2 {
     background-color: #A85188;
 }

 .button3 {
     background-color: #5999C5;
 }

 .button4 {
     background-color: #A5AE32;
 }

 @media (max-width: 745px) {}